services:
  app:
    build:
      context: .
      args:
        TARGETOS: linux
        TARGETARCH: amd64
    ports:
      - "53:53/udp"
      - "8080:8080" # Optional: Expose metrics on port 8080
      - "6060:6060" # Optional: Expose profiling on port 6060
    env_file:
      - .env
    restart: always
    environment:
      - TZ=Asia/Kolkata
      # - PID_FILE= # Disable PID file in containers (Docker manages processes)
      # - PID_FILE=/var/run/dnsforwarder/dnsforwarder.pid # Enable if monitoring from host
    user: root # Run as root if using cache persistence (use non-root user if not)
    volumes:
      - ./domain-routes/:/etc/dnsforwarder/domain-routes/:ro # Mount folder as read-only (recommended) # optional, required for custom domain routes
      # Add more folders/files as needed for custom domain routes
      - ./cache-data/:/app/cache/:rw # Mount cache persistence directory (Optional)
      # - /var/run/dnsforwarder:/var/run/dnsforwarder # Uncomment if using PID_FILE for host monitoring
    labels:
      - "logging=promtail"
    depends_on:
      - 'promtail'
  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-data:/loki
    restart: always

  promtail:
    image: grafana/promtail
    container_name: promtail
    restart: always
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
    depends_on:
      - loki
